h5 {
  color: antiquewhite;
  font-size: 5.5em;
  text-align: center;
}

h3 {
  color: antiquewhite;
  font-size: 6em;
}

iframe#secVid {
  width: 1750px;
  height: 1000px;
  border-radius: 12px;
}

@media (max-width: 1840px) {
  iframe#secVid {
    width: 787.5px;
    height: 450px;
    border-radius: 12px;
  }

  h5 {
    color: antiquewhite;
    font-size: 3.5em;
    text-align: center;
  }

  h3 {
    color: antiquewhite;
    font-size: 4em;
  }
}

@media (max-width: 1510px) {

  iframe#secVid {
    width: 1050px;
    height: 600px;
    border-radius: 12px;
  }

  h5 {
    color: antiquewhite;
    font-size: 3.5em;
    text-align: center;
  }

  h3 {
    color: antiquewhite;
    font-size: 4em;
  }
}

@media (max-width: 1310px) {
  iframe#secVid {
    width: 787.5px;
    height: 450px;
    border-radius: 12px;
  }
}

@media (max-width: 1200px) {
  iframe#secVid {
    height: 400px;
    width: 700px;
  }
}

@media (max-width: 769px) {
  /* header .container {
    max-height: 200px;
  }*/

  iframe#secVid {
    width: 467px;
    height: 250px;
    border-radius: 12px;
  }
}

@media (max-width: 650px) {
  #secVid {
    width: 437.5px;
    height: 250px;
    border-radius: 12px;
  }
}

@media (max-width: 540px) {
  /* header .container {
    max-height: 150px;
  } */

  iframe#secVid {
    width: 370px;
    height: 187px;
    border-radius: 12px;
  }

  .box1 {
    flex-direction: column;
  }
}

@media (max-width: 412px) {
  /* header .container {
    max-height: 110px;
  } */

  iframe#secVid {
    width: 310px;
    height: 175px;
    border-radius: 12px;
  }
}

@media (max-width: 331px) {
  h3 {
    color: antiquewhite;
    font-size: 2.5em;
  }
}