* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100%;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	background: #f9fafb;
	color: #111827;
}

body.main {
	background-color: black;
}

body.admin {
	width: 88%;
	background-color: chocolate;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #111827;
		color: #fff;
	}
}

.hr1 {
	position: relative;
	top: 34em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: blue;
}

.hr2 {
	position: relative;
	top: 34em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: blue;
}