---
    import '../styles/footer.css'
---

<section class="section2">
	<p class="footerNum">360 516 8933</p>
	<div class="bar">
		<div class="addr1">
			<p class="footerp">251 East Snow Cap Dr</p>
			<p class="footerp">Belfair, WA 98528</p>
			<p class="footerp">United States</p>
		</div>
        <br>
		<div class="addr1">
			<p class="footerp">License</p>
			<p class="footerp">WA #604-037-042</p>
		</div>
        <br>
		<div class="addr1">
			<p class="footerp">Insurance</p>
			<p class="footerp">#SII4851A201464</p>
			<p class="footerp">Contractors Insurance NW</p>
			<p class="footerp">PO Box 13033</p>
			<p class="footerp">Olympia WA 98508</p>
		</div>
        <br>
		<div class="addr1">
			<p class="footerp">Bond</p>
			<p class="footerp">#62922843</p>
			<p class="footerp">Department Of Labor and Industries</p>
			<p class="footerp">Contractor Registration</p>
			<p class="footerp">PO Box 44450</p>
			<p class="footerp">Olympia WA 98504-4450</p>
		</div>
	</div>
</section>