---
    import '../styles/maindiv.css';
---

<div class='mainDiv'>
	<section class="sec">
		<p class="teleNum">360 516 8933</p>
		<p class="atsServ">Servicing</p>
		<div class="cardDiv">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">Kitsap County</h1>
					<div>
						<img class="cardImg" src="/assets/images/kitsap.webp" alt="Placeholder image">
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">Mason County</h1>
					<div>
						<img class="cardImg" src="/assets/images/mason.webp" alt="Placeholder image">
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">Pierce County</h1>
					<div>
						<img class="cardImg" src="/assets/images/pierce.webp" alt="Placeholder image">
					</div>
				</div>
			</div>
		</div>
		<div class="gallery">
			<a href="https://galleryastro.pages.dev" style="text-decoration: none;">
				<p class="p-gallery">Photo Gallery</p>
			</a>
			<a href="https://atsvids.pages.dev" style="text-decoration: none;">
				<p class="p-gallery">Video Gallery</p>
			</a>
		</div>
		<br>
	</section>
</div>