---
    import '../styles/postreview.css';
---

<!-- <div > -->
	<form>
		<h3>Post A Review:</h3>
		<input id="name" type="text" name="name" value="Name (optional)" />
		<br />
		<input id="email" type="text" name="email" value="Email" />
		<br />
		<textarea id="message" name="message" rows="25" cols="120"></textarea>
		<br>
		<button id="revInput" class="foo">Post Review</button>
	</form>
<!-- </div> -->